<div class="navbar-fixed">
  <nav class="bg-dark-gray">
    <div class="container">
        <div class="row center-align">
            <form id="search_form">
                <div class="input-field col s9 offset-s1 m8 offset-m2 l7 offset-l3">
                    <i class="material-icons prefix">search</i>
                    <input id="search_event" type="text" class="validate">
                    <label for="search_event">Filter by Name or #Tag</label>
                </div>
            </form>
        </div>
    </div>
  </nav>
</div>
